hopsworks>=3.7.0
pandas>=2.2.2
numpy>=1.26.4
requests>=2.32.3
python-dotenv>=1.0.1
scikit-learn>=1.5.1
joblib>=1.4.2
fastapi>=0.115.0
uvicorn>=0.30.6
streamlit>=1.38.0
plotly>=5.24.1
confluent-kafka>=2.0.0
